### Data Type

#### Text Data Types

In [2]:
# They are called strings in python

"Hello"
'Hello'

'Hello'

In [3]:
print('Hello World')

Hello World

In [4]:
print(32)

32

In [5]:
name = 'Johnson'
print(name)

Johnson

In [ ]:
address = """
5, Brixton road, Newhampshire,
UK.
Postal code: 34576
"""

address2 = '''
24, Badmus street, Agege,
Lagos.
'''

##### Slicing Strings

In [8]:
name = 'David'
name[1:3]

'av'

In [9]:
name[1:4]

'avi'

In [10]:
s = 'Happy Birthday'
s[6:]

'Birthday'

In [12]:
s[0:5]

'Happy'

##### Concatenating Strings

In [14]:
a = 'Happy'
b = 'Birthday'
d = ' '
c = a + d + b
print(c)

Happy Birthday

In [16]:
print(a + b)
print(a, b)

HappyBirthday
Happy Birthday

#### Numeric Data Type

In [28]:
x = 10
y = 3.142
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

##### Converting from one data type to another

In [30]:
# Convert Int to float

x_conv = float(x)
print(x_conv)
print(type(x_conv))

10.0
<class 'float'>

In [32]:
# Convert Float to Int

y_conv = int(y)
print(y_conv)
print(type(y_conv))

3
<class 'int'>

In [34]:
# convert from int to complex

a = 20
a_conv = complex(a)
print(a_conv)
print(type(a_conv))

(20+0j)
<class 'complex'>

#### Data Structures

##### Lists

In [37]:
# Creating our first list

myList = []

list

In [38]:
fruits = ['apple', 'banana', 'cherry']

In [39]:
anotherList = [1, 'india', 3.142, True, 'David', ['apple', 'banana', 'cherry']]

##### Accessing List elements

In [43]:
fruits = ['apple', 'banana', 'cherry']
fruits[2]

'cherry'

In [44]:
fruits[0:2]

['apple', 'banana']

##### Add items to lists

In [46]:
# Append method

fruits = ['apple', 'banana', 'cherry']
fruits.append('Mango')

print(fruits)

['apple', 'banana', 'cherry', 'Mango']

In [47]:
# Insert Method
fruits.insert(0, 'Tangerine')
print(fruits)

['Tangerine', 'apple', 'banana', 'cherry', 'Mango']

In [48]:
# extend method
anotherFruitList = ['Pear', 'Strawberries']

fruits.extend(anotherFruitList)
print(fruits)

['Tangerine', 'apple', 'banana', 'cherry', 'Mango', 'Pear', 'Strawberries']

##### Removing Items from Lists

In [49]:
# remove method

fruits.remove('banana')
print(fruits)

['Tangerine', 'apple', 'cherry', 'Mango', 'Pear', 'Strawberries']

In [50]:
# pop method

fruits.pop()
print(fruits)

['Tangerine', 'apple', 'cherry', 'Mango', 'Pear']

In [52]:
fruits.pop(2)
print(fruits)

['Tangerine', 'apple', 'Mango', 'Pear']

In [53]:
# clear methods
fruits.clear()
print(fruits)

[]

##### Sorting a List

In [57]:
fruits = ['apple', 'mangoes', 'banana', 'cherry']

In [60]:
fruits.sort(reverse = True)
print(fruits)

['mangoes', 'cherry', 'banana', 'apple']

#### Tuples

In [61]:
# Creating a tuple

myTuple = ('John', 'Mary')
type(myTuple)

tuple

In [62]:
coordinats = (1.111, 2.3444)

##### Accessing items in a tuple

In [63]:
carBrand = ('BMW', 'Toyota', 'Honda', 'Volkswagen', 'Mercedes-Benz')

carBrand[2]

'Honda'

In [65]:
carBrand[-2]

'Volkswagen'

In [66]:
carBrand[0:3]

('BMW', 'Toyota', 'Honda')

##### Updating a tuple

In [71]:
# Convert the tuple to a list
carBrand = ('BMW', 'Toyota', 'Honda', 'Volkswagen', 'Mercedes-Benz')

carBrand_conv = list(carBrand)

# add item to the converted list
carBrand_conv.insert(0, 'Maybach')

# convert list back to tuple
carBrand = tuple(carBrand_conv)
print(carBrand)

('Maybach', 'BMW', 'Toyota', 'Honda', 'Volkswagen', 'Mercedes-Benz')

##### Join Tuples

In [73]:
fruit1 = ('apple', 'banana')
fruit2 = ('mango', 'cherry')

fruit_merged = fruit1 + fruit2
print(fruit_merged)

('apple', 'banana', 'mango', 'cherry')

#### Dictionaries

In [1]:
students = {
    "name": "Usain Thunder",
    "age": 22,
    "Department": "Computer Science"
}

In [2]:
print(type(students))

<class 'dict'>

##### Accessing dictionary items

In [5]:
# using the get() method, let's get the keys

name = students.get('name')
print(name)

Usain Thunder

In [7]:
y = students.get('age')
print(y)

22

In [8]:
# using the keys method will return a list of all the keys in the dictionary

x = students.keys()
print(x)

dict_keys(['name', 'age', 'Department'])

In [9]:
# using the value method will return a list of all the values in the dictionary

y = students.values()
print(y)

dict_values(['Usain Thunder', 22, 'Computer Science'])

In [10]:
# the items method will return each item in a dictionary

z = students.items()
print(z)

dict_items([('name', 'Usain Thunder'), ('age', 22), ('Department', 'Computer Science')])

##### Adding items to a dictionary

In [11]:
students = {
    "name": "Usain Thunder",
    "age": 22,
    "Department": "Computer Science"
}

In [13]:
# lets add a birthYear item to the dictionary

students["birthYear"] = 2001

students.items()

dict_items([('name', 'Usain Thunder'), ('age', 22), ('Department', 'Computer Science'), ('birthYear', 2001)])

In [14]:
# we coud use the update function to add items

students.update({"Nationality" : "Nigerian"})

students.items()

dict_items([('name', 'Usain Thunder'), ('age', 22), ('Department', 'Computer Science'), ('birthYear', 2001), ('Nationality', 'Nigerian')])

##### Removing items to a dictionary

In [15]:
#pop method

In [16]:
students.pop("Nationality")

students.items()

dict_items([('name', 'Usain Thunder'), ('age', 22), ('Department', 'Computer Science'), ('birthYear', 2001)])

In [17]:
# Popitem method

In [18]:
students.popitem()

('birthYear', 2001)

In [19]:
students.items()

dict_items([('name', 'Usain Thunder'), ('age', 22), ('Department', 'Computer Science')])